<h1 class="results-heading">WINNERS</h1>


<div class="container">
    <div class="row mt-4">
        <div class="col-lg-4 text-center" style="border-right: solid rgba(0,0,0,0.1) 0.5px;" >
            <h2>School Captain</h2>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Votes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each captains}}
                        <tr>
                            <td>{{this.schoolCaptain}}</td>
                            <td>{{this.votes}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-lg-4 text-center" style="border-right: solid rgba(0,0,0,0.1) 0.5px;">
            <h2>Asst. School Captain</h2>
                        <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Votes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each asstcaptains}}
                        <tr>
                            <td>{{this.asstSchoolCaptain}}</td>
                            <td>{{this.votes}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <h2>Sports Captain</h2>
                        <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Votes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each sportscaptains}}
                        <tr>
                            <td>{{this.sportsCaptain}}</td>
                            <td>{{this.votes}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                        
                        